# PORT
PORT = 3000

# DB
STORAGE_PROVIDER = redis | leveldb
REDIS_URL = redis://redis:6379/1
REDIS_KEY_PREFIX = sms-ts:
LEVELDB_PATH = tmp/leveldb

# api key, secret
ALI_API_KEY =
ALI_API_SECRET =
ALI_SMS_TEMPLATE =
ALI_SMS_SIGN =
ALI_API_KEY2 =
ALI_API_SECRET2 =
ALI_SMS_TEMPLATE2 =
ALI_SMS_SIGN2 =
TENCENT_API_KEY =
TENCENT_API_SECRET =
TENCENT_SMS_TEMPLATE =
TENCENT_SMS_SIGN =
TENCENT_API_KEY2 =
TENCENT_API_SECRET2 =
TENCENT_SMS_TEMPLATE2 =
TENCENT_SMS_SIGN2 =
SMS_PROVIDER = ali | tencent
SMS_MOCK_ACCOUNTS =
SMS_SANDBOX = true | false
# 验证码有效期（秒）
SMS_TTL = 600
SMS_INTERVAL = 60
